 @import "bootstrap";

body {
  background-color: #f5f5f5;
}

.preview-img {
  width: 100%;
}

.main {
  padding-top: 2em;
  max-width: 30em;

  .semester-date {
    margin-left: .5em;
    font-size: 0.8em;
    color: #999999;
  }
}

.tab-pane {
  padding-top: .5em;
  a > img {
    max-width: 100%;
    margin: .4em 0;
  }
}

#ics-anchor {
  text-decoration: none;
}

#alternative-download-link {
  &.hidden {
    display: none;
  }
}

textarea {
  resize: none;
}
